
*{
    text-align: center; 
}

html{
    background-color: #b6c7cf;
    font-size: 16px;
    font-family: "IBM Plex Sans KR", sans-serif;
}

body{
    width: 640px;
    margin: auto;
}

h1{
    font-size: 50px;
}

img{
    width: 300px;
    border-radius: 50px;
}

p{
    font-size: 1.05rem;
}